@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --text-color: #282828;
  --base-color: #e3d7ff;
  --main-color: #b698ff;
  --accent-color: #8858ff;
  --background-color: #ffffff;
}

body {
  padding: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'M PLUS 2', sans-serif;
  font-weight: 400;
}
