.outer {
  display: block;
  text-decoration: none;
  max-width: 60rem;
}

.card {
  display: flex;
  box-shadow: 0 0 0.2rem var(--text-color);
  border-radius: 0.3rem;
  color: var(--text-color);
  font-size: 1rem;
  line-height: 2rem;
  overflow: hidden;
  margin: 2rem 0;
}

.card:hover {
  box-shadow: 0 0 0.4rem var(--text-color);
}

.eye_catch {
  position: relative;
  width: 16rem;
  background-color: var(--accent-color);
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image::after {
  content: '';
}

.altCategory {
  position: absolute;
  color: var(--background-color);
  width: 100%;
  height: 1rem;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  line-height: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.body {
  padding: 2rem;
  width: calc(100% - 16rem);
}

@media (max-width: 640px) {
  .card {
    display: block;
  }

  .eye_catch {
    width: 100%;
    height: 16rem;
  }

  .body {
    width: 100%;
  }
}

.title {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin: 0 0 0.6rem 0;
  color: var(--accent-color);
}

.star {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background: var(--text-color);
  clip-path: polygon(
    50% 5%,
    61% 40%,
    98% 40%,
    68% 62%,
    79% 96%,
    50% 75%,
    21% 96%,
    32% 62%,
    2% 40%,
    39% 40%
  );
}

.yellow {
  background: #ffb448;
}

.gray {
  background: #e1e1e1;
}

.description {
  margin: 1.6rem 0;
  line-height: 1.8rem;
}

.information {
  overflow: hidden;
}

.badge {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 0.2rem 0.6rem;
  border-radius: 0.2rem;
  margin: 0 0.3rem;
  font-size: 0.8rem;
  white-space: nowrap;
}

.category {
  background-color: var(--accent-color);
}

.tag {
  background-color: var(--base-color);
  color: var(--text-color);
}

.duration {
  float: right;
  color: #888888;
}
