.top {
  background-color: var(--accent-color);
  margin-bottom: 3rem;
  padding: 8rem 1rem;
}

.top h1 {
  margin: 0;
  font-size: 2.6rem;
  text-align: center;
  color: var(--background-color);
  line-height: 100%;
}

.nobreak {
  white-space: nowrap;
}

.sachi {
  display: block;
  font-size: 5rem;
  margin-top: 4.6rem;
}

.sachi rt {
  display: none;
}

.sachi ruby {
  position: relative;
}

.sachi ruby[data-ruby]::before {
  content: attr(data-ruby);
  position: absolute;
  left: -2em;
  top: -0.5em;
  right: -2em;
  text-align: center;
  font-size: 0.4em;
}

.name {
  display: block;
  margin-top: 4.6rem;
  font-size: 2rem;
  color: #b0b0b0;
  text-align: center;
}
